body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: antiquewhite;
}

header {
    background-color: #8B0000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #8B0000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.mission-des{
    font-style: italic;
    text-align: center;
}

.red-line {
  border-top: 2px solid #8B0000;
  margin: 20px 0;
}

.speaker {
    align-items: center;
    margin-bottom: 50px;
}

.speaker h3 {
    margin: 0;
    font-size: 18px;
    text-decoration:underline;
    color: blue;
}

.speaker p {
    margin: 5px 0 0 0;        
    font-size: 20px;
}